.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    display: inline-block;
    width: 38%;
    height: 1px;
    background-color: #b3b3b3;
    vertical-align: middle;
    margin: 0 10px;
}

.btn-google {
    background-color: transparent;
    border: 1px solid #2c73bb;
    color: #2c73bb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    padding: 3px 12px;
    display: inline-block;
    width: 100%;
}

.google-btn-link {
    color: #2c73bb;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.google-btn-link:hover {
    color: #2c73bb;
}

.btn-google:hover{
    background-color: #e6f1ff;
}

.google-icon {
    width: 29px;
    height: 29px;
    margin-right: 8px;
    vertical-align: middle;
}

.form-group label {
    font-weight: 500;
    color: #666;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
}

.form-control:focus {
    border-color: #2c73bb;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-group {
    position: relative;
}

.input-group .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #dc3545;
}

.toggle-password i.fa-eye-slash {
    color: #555555;
}
a {
    text-decoration: none;
    font-size: 14px;
    color: #2c73bb;
}

a:hover {
    text-decoration: none;
    color: #c53727;
}

p {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.btn-link{
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 10px;
    color: #2c73bb;
}

.btn-link:hover{
    text-decoration: none;
    color: #c53727;
}

.btn-login{
    background-color: #2C73BB;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
}

.btn-login:hover{
    background-color: #266198;
    color: white;
}
