body{
    font-family: var(--font-montserrat), serif !important;
}

#global-loader {
    position: fixed;
    inset: 0;
    background-color: rgb(242, 249, 250, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px);
}

.loader-hidden {
    opacity: 0;
    pointer-events: none;
}

.loader-spinner {
    width: 70px;
    height: 70px;
    border: 6px solid rgb(42, 142, 158, 0.3);
    border-top: 6px solid  rgba(13, 83, 112);
    border-radius: 50%;
    animation: spin 1s ease-out infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 55px;
    height: 55px;
    background-color: var(--light-1);
    padding: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px rgb(13, 83, 112, 0.3);
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}

.scroll-to-top.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background-color: var(--dark-1);
    transform: translateY(-2px);
}

.custom-toast {
    position: fixed;
    bottom: 20px;
    left: 30px;
    border-radius: var(--br-1) !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px !important;
    gap: 10px !important;
    text-align: left;
    font-size: var(--Font-14-size);
    animation: slideInOut 5s ease-in-out forwards;
    z-index: 9999;
    opacity: 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1) !important;
    line-height: 1.5 !important;
    font-weight: var(--Semibold-weight) !important;
    width: auto !important;
    min-width: 400px !important;
    max-width: 70% !important;
    word-break: break-word !important;
}

.toast-success {
    color: var(--helps-green) !important;
    border: 2px solid var(--helps-green) !important;
    background-color: var(--helps-greenlight) !important;
}

.toast-success .toast-close {
    color: var(--helps-green)!important;
}

.toast-error {
    color: var(--helps-red) !important;
    border: 2px solid var(--helps-red) !important;
    background-color: var(--helps-redlight) !important;
}

.toast-error .toast-close {
    color: var(--helps-red)!important;
}

.toast-warning {
    color: var(--helps-orange) !important;
    border: 2px solid var(--helps-orange) !important;
    background-color: var(--helps-orangelight) !important;
}

.toast-warning .toast-close {
    color: var(--helps-orange)!important;
}

.toast-info {
    color: var(--helps-blue) !important;
    border: 2px solid var(--helps-blue) !important;
    background-color: var(--helps-bluelight) !important;
}

.toast-info .toast-close {
    color: var(--helps-blue)!important;
}

.toast-message{
    width: 100%;
    text-align: left;
}

.toast-icon {
    margin-right: 5px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-close {
    background: transparent;
    border: none;
    font-size: 36px !important;
    line-height: 1;
    cursor: pointer;
    padding: 0;
    opacity: 0.7 !important;
    color: var(--main-dark) !important;
    transition: opacity 0.3s ease;
}

.toast-close:hover {
    opacity: 1 !important;
}

.toast-close:focus {
    outline: none;
}

@keyframes slideInOut {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    15% {
        transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 20px;
        right: 20px;
    }
}
