.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px 20px;
    background-color: var(--dark-2);
    backdrop-filter: blur(5px);
    position: relative;
    flex-direction: column;
    gap: 32px;
    top: 0;
    left: 0;
}

.footer-info-section{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.address-info{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 290px;
    gap: 24px;
    padding: 16px 0;
}

.address-title{
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
    color: var(--dark-1);
    margin: 0;
}

.address-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.address-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.address-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.address-text-row {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.address-text-row-title {
    color: var(--dark-1);
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    line-height: 150%;
    margin: 0;
}

.address-text-row-description {
    color: var(--light-1);
    line-height: 150%;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    margin: 0;
}

.social-icon-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
}

.social-icon {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.address-link-row {
    display: flex;
    font-size: var(--Font-14-size);
    flex-direction: column;
    line-height: 1.2;
    transition: all 0.2s ease;
    color: var(--dark-1);
}

.address-link-row-title{
    margin: 0;
    transition: all 0.2s ease;
    color: var(--dark-1);
}

.address-link-row-title:hover {
    color: var(--light-1);
    transform: scale(1.05);
    text-decoration: none;
}

.address-link-row:hover {
    color: var(--light-1);
    text-decoration: none;
}

#contact-section{
    background-color: var(--light-2);
    border-radius: var(--br-1);
    padding: 16px;
}

#contact-text-row{
    font-size: var(--Font-12-size);
    margin-top: 10px;
}

#second-section{
    border-top: 1px solid var(--dark-1);
    padding: 32px 0;
    align-items: end;
}

#logo-link-footer{
    width: 250px;
}

#pages-links-footer{
    flex-direction: row;
}

.vertical-line{
    margin: 0 10px;
    color: var(--dark-1);
    line-height: 100%;
}

.footer-info-dev{
    width: 315px;
    margin: 0;
    font-size: var(--Font-14-size);
    font-weight: var(--Medium-weight);
    color: var(--dark-1);
    line-height: 150%;
}

.footer-info-dev-link{
    display: inline-block;
    color: var(--light-1);
    font-weight: bold;
    transition: all 0.2s ease;
}

.footer-info-dev-link:hover{
    color: var(--dark-1);
    transform: scale(1.02);
    text-decoration: none;
    cursor: pointer;
}

#link-fs{
    margin-right: 50px;
}

@media (max-width: 768px) {

    #footer-categories{
        display: none;
    }

    .footer {
        padding: 30px;
        gap: 30px;
    }

    .footer-info-section {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        gap: 20px;

        width: fit-content;
        margin: 0 auto;
    }

    .address-info {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;
    }

    #second-section{
        border-top: 1px solid var(--dark-1);
        padding: 32px 0;
        align-items: end;
        gap: 30px;
    }

    #logo-link-footer{
        width: 150px;
    }

    .address-main {
        align-items: center;
    }
}
