.header-admin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3%;
    background-color: rgb(242, 249, 250, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: fixed;
    flex-direction: row;
    gap: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--light-2);
}

.logo-section{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-icon{
    width: 85%;
}

.logo-link:hover .logo-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(9%) saturate(925%) hue-rotate(170deg) brightness(95%) contrast(88%);
}

.search-section{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 220px;
    width: 100%;
}

.search-form {
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 0;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 40px !important;
    color: var(--dark-1) !important;
    border: 1px solid var(--light-1) !important;
    border-radius: var(--br-1);
    font-size: var(--Font-14-size);
    font-weight: var(--Regular-weight);
    outline: none;
}

.search-input:focus {
    border: 1px solid var(--dark-1) !important;;
    outline: none;
}

.search-input::placeholder {
    color: var(--light-1) !important;;
}

.search-btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn:hover{
    background-color: transparent;
    cursor: pointer;
}

.search-icon {
    transition: transform 0.2s ease;
}

.search-btn:hover .search-icon {
    transform: scale(1.1);
}

.search-input:focus {
    outline: none;
}

.info-pages {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pages-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 36px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-1);
    font-size: var(--Font-16-size);
    font-weight: var(--Medium-weight);
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: var(--light-1);
    transform: scale(1.05);
}

.nav-link.active {
    color: var(--light-1);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.user-pages{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-page-icon{
    transition: all 0.2s ease;
}

.user-page-icon:hover {
    transform: scale(1.1);
}

.shopping-cart-icon {
    transition: all 0.2s ease;
}

.shopping-cart-icon:hover{
    transform: scale(1.1);
}

.cart-badge {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -7px;
    right: -7px;
    background-color: var(--helps-red);
    color: var(--white);
    font-size: var(--Font-12-size);
    padding: 3px 5px;
    border-radius: 50%;
    font-weight: var(--Semibold-weight);
    line-height: 1;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease;
}

.btn-link-login{
    padding: 10px 24px;
    background-color: var(--light-1);
    color: var(--main-light);
    border-radius: var(--br-1);
    font-size: var(--Font-16-size);
    font-weight: var(--Medium-weight);
    transition: all 0.2s ease;
    border: none;
}

.btn-link-login:hover{
    background-color: var(--dark-1);
}

.btn-link-login:focus{
    outline: none;
}


.custom-swal-popup {
    border-radius: var(--br-1) !important;
    padding: 20px !important;
    background-color: var(--white) !important;
    width: 400px !important;
    height: 400px !important;
}

.custom-swal-title {
    color: var(--main-dark) !important;
    font-weight: var(--Semibold-weight);
}

.custom-swal-text {
    color: var(--dark-1) !important;
}

.custom-swal-confirm {
    background-color: var(--light-1) !important;
    color: var(--white) !important;
    border-radius: var(--br-1) !important;
    padding: 12px 40px !important;
    margin-right: 20px !important;
    transition: all 0.3s ease;
}

.custom-swal-confirm:hover {
    background-color: var(--dark-1) !important;
}

.custom-swal-confirm:focus {
    outline: none !important;
}

.custom-swal-cancel {
    background-color: var(--white) !important;
    color: var(--light-1) !important;
    border: 1px solid var(--light-1) !important;
    border-radius: var(--br-1) !important;
    padding: 12px 30px !important;
    transition: all 0.3s ease;
}

.custom-swal-cancel:hover {
    background-color: var(--main-light) !important;
}

.custom-swal-cancel:focus {
    outline: none !important;
}

.swal2-container {
    background-color: rgba(145, 145, 145, 0.4) !important;
    backdrop-filter: blur(5px) !important;
}

.button:focus{
    outline: none;
}

#logout-icon:hover{
    color: var(--main-dark);
}








/*.header-style {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 1rem 0;*/
/*    background: #D0DAF3;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    z-index: 1000;*/
/*}*/

/*.nav-link {*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    color: #2C73BB;*/
/*    transition: color 0.3s ease;*/
/*}*/

/*.nav-link::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 3px;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    background-color: #04396E;*/
/*    transition: width 0.4s ease, left 0.4s ease;*/
/*}*/

/*.nav-link:hover::after {*/
/*    width: 100%;*/
/*    left: 0;*/
/*}*/

/*.nav-link:hover {*/
/*    color: #04396E;*/
/*}*/

/*.highlighted {*/
/*    font-size: 20px;*/
/*    color: #2C73BB;*/
/*}*/

/*.highlighted:hover {*/
/*    color: #04396E;*/
/*}*/

/*.active {*/
/*    color: #04396E;*/
/*    font-weight: bold;*/
/*}*/

/*.active::after {*/
/*    width: 100%;*/
/*    left: 0;*/
/*    background-color: #04396E;*/
/*}*/

/*#logout-btn {*/
/*    transition: color 0.3s ease;*/
/*}*/

/*#logout-btn:hover {*/
/*    color: #b62020;*/
/*}*/

/*a:hover{*/
/*    text-decoration: none;*/
/*}*/
