.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.4s ease, left 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.active::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #ddd;
}

.highlighted {
    color: #FFD700;
    font-size: 18px;
}

.highlighted:hover {
    color: #FFA500;
}

.nav-link:not(.highlighted) {
    color: white;
    font-size: 18px;
}
