.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    box-sizing: border-box;
    gap: 40px;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 50px 120px;
    box-sizing: border-box;
}

.delivery-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.delivery-headers {
    text-align: center;
}

.delivery-title {
    font-size: var(--Font-40-size);
    font-weight: var(--Semibold-weight);
    margin-bottom: 20px;
    color: var(--main-dark);
    line-height: 150%;
}

.delivery-description {
    font-size: var(--Font-20-size);
    font-weight: var(--Medium-weight);
    color: var(--dark-1);
    max-width: 885px;
}

.delivery-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    width: 80%;
    padding: 0 110px;
}

.delivery-card {
    background-color: var(--white);
    border-radius: var(--br-1);
    padding: 24px;
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delivery-card:hover {
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.4);
    transform: translateY(-6px);
}

.delivery-img {
    width: 300px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#delivery-img-ukrposhta{
    width: 250px;
}

#delivery-img-pickup{
    height: 220px;
    margin-bottom: 15px;
}

#delivery-img-courier{
    height: 200px;
    margin-bottom: 30px;
}

.delivery-name {
    font-size: var(--Font-26-size);
    font-weight: var(--Semibold-weight);
    margin-bottom: 18px;
    color: var(--main-dark);
}

.delivery-text {
    font-size: var(--Font-18-size);
    color: var(--dark-1);
    font-weight: var(--Medium-weight);
    margin-bottom: 18px;
}

.delivery-price {
    font-size: var(--Font-20-size);
    font-weight: var(--Semibold-weight);
    margin-bottom: 10px;
}

.delivery-price.red {
    color: var(--helps-red);
}

.delivery-price.free {
    color: #2a9d8f;
}

.delivery-price-warning{
    color: var(--grey);
    font-weight: var(--Regular-weight);
    font-size: var(--Font-14-size);
    margin-bottom: 10px;
}
