.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    box-sizing: border-box;
    gap: 40px;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 50px 120px;
    box-sizing: border-box;
}

.nav-section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-light);
    width: 400px;
    height: 450px;
    gap: 24px;
}

.nav-title{
    font-weight: var(--Bold-weight);
    font-size: var(--Font-40-size);
    color: var(--dark-1);
}

.nav-description{
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-18-size);
    color: var(--dark-1);
    margin: 0;
}

.navigate-category {
    width: 400px;
    height: 315px;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: var(--br-1);
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navigate-link {
    display: block;
    width: 100%;
    height: 80px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--light-1);
}

.navigate-link:hover {
    border-left: 4px solid var(--light-1);
    background-color: rgba(42, 142, 158, 0.2);
    cursor: pointer;
    text-decoration: none;
}

.navigate-link-content {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigate-link-content:hover{
    padding-left: 16.5px;
}

#navigate-link-content-top:hover{
    border-top-left-radius: var(--br-1);
    border-top-right-radius: var(--br-1);
}

#navigate-link-content-bottom{
    border-bottom: none;
}

#navigate-link-content-bottom:hover{
    border-bottom-left-radius: var(--br-1);
    border-bottom-right-radius: var(--br-1);
}

.navigate-icon {
    width: 32px;
    height: 32px;
}

.navigate-text {
    font-size: var(--Font-18-size);
    font-weight: var(--Medium-weight);
    line-height: 150%;
    color: var(--main-dark);
}

.slider-section {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 450px;
    background-color: var(--white);
    padding: 0;
    box-sizing: border-box;
    border-radius: var(--br-1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.main-slider-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.main-slide {
    min-width: 800px;
    height: 450px;
}

.main-slide img {
    width: 100%;
    height: 450px;
    /*object-fit: fill;*/
    object-fit: cover;
    object-position: center;
}

button.main-prev, button.main-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(13, 83, 112, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 50%;
    color: inherit;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 44px;
    height: 44px;
}

button.main-prev {
    left: 0;
}

button.main-next {
    right: 0;
}

button.main-prev:focus{
    outline: none;
}

button.main-next:focus{
    outline: none;
}

button i {
    pointer-events: none;
    color:  var(--light-1);
}

.main-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
    background-color: rgb(13, 83, 112, 0.3);
    backdrop-filter: blur(15px);
    padding: 5px 10px;
    border-radius: var(--br-1);
}

.main-dot {
    height: 10px;
    width: 10px;
    margin: 0;
    background-color: var(--main-light);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-main-slide {
    background-color: var(--light-1);
}

.main-dot:hover {
    background-color: var(--light-1);
}

.main-prev:hover{
    cursor: pointer;
}

.main-next:hover{
    cursor: pointer;
}

.advantages-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0;
}

.row-title {
    font-size: var(--Font-32-size);
    font-weight: var(--Bold-weight);
    color: var(--dark-1);
    text-align: center;
    margin: 0;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
}

.advantage {
    width: 290px;
    height: 250px;
    background-color: var(--white);
    border-radius: var(--br-1);
    padding: 24px;
    text-align: center;
    box-shadow: 4px 4px 8px rgb(13, 83, 112, 0.12);
    transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid var(--dark-1);
}

.advantage:hover {
    transform: translateY(-5px);
    border-bottom: 3px solid var(--light-1);
    box-shadow: 4px 4px 8px rgb(13, 83, 112, 0.3);
}

.advantage-img {
    width: 70px;
    height: 70px;
    margin-bottom: 24px;
}

.advantage-title {
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
    color: var(--main-dark);
    margin-bottom: 8px;
}

.advantage-text {
    font-size: var(--Font-14-size);
    font-weight: var(--Regular-weight);
    color: var(--dark-1);
    margin: 0;
}

.decoration-row {
    width: 100%;
    margin: 50px 0;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
}

.decoration-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}

.categories-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.row-title {
    font-size: var(--Font-32-size);
    font-weight: var(--Semibold-weight);
    text-align: center;
    margin: 0;
    color: var(--dark-1);
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
}

.category-card {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background-color: var(--main-light);
    border-radius: 25.85px;
    text-decoration: none;
    color: inherit;
    border: 2px solid var(--light-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.category-card:hover {
    text-decoration: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.category-top {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: var(--br-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-bg-shape {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 360px;
    background-color: var(--light-2);
    border-radius: 50% / 50%;
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.category-card:hover .category-bg-shape {
    background-color: var(--dark-2);
}

.category-img {
    position: relative;
    width: auto;
    max-height: 70%;
    z-index: 2;
    object-fit: contain;
    transition: transform 0.3s ease;
}

#category-img-tail-spinner{
    margin-left: 30px;
}

.category-card:hover .category-img {
    transform: scale(1.05);
}

.category-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.category-name {
    font-size: var(--Font-24-size);
    font-weight: var(--Bold-weight);
    margin: 0;
    padding-left: 22px;
    color: var(--main-dark);
}

.category-btn {
    background-color: var(--light-1);
    border-radius: var(--br-1) 0 var(--br-1) 0;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 75px;
    transition: background-color 0.3s ease;
}

.category-card:hover .category-btn  {
    background-color: var(--dark-1);
}

.category-btn img {
    width: 40px;
    height: 40px;
}

.products-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.products-scroll-container {
    overflow-x: auto;
    padding-bottom: 20px;
    width: 100%;
}

.products-cards {
    display: flex;
    gap: 40px;
    min-width: max-content;
    padding: 10px;
    padding-top: 15px;
}

.product-card {
    position: relative;
    flex: 0 0 270px;
    width: 280px;
    height: min-content;
    background-color: var(--white);
    border-radius: var(--br-1);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.4);
}

.product-card:hover .product-card-img {
    transform: scale(1.05);
}

.product-card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.product-card-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

#notImageProduct{
    text-align: center;
    align-items: center;
    color: var(--dark-1);
    font-size: var(--Font-14-size);
    font-weight: var(--Medium-weight);
}

.product-card-status {
    font-size: var(--Font-14-size);
    margin: 14px 0 8px;
    font-weight: var(--Regular-weight);
    align-items: start;
}

.in-stock {
    color: var(--helps-green);
}

.low-stock{
    color: var(--helps-orange);
}

.out-stock {
    color: var(--helps-red);
}

.status-icon{
    margin-left: 8px;
}

.product-card-name {
    font-size: var(--Font-16-size);
    font-weight: var(--Medium-weight);
    margin-bottom: 8px;
    text-align: start;
    color: var(--main-dark);
}

.product-card-size {
    font-size: var(--Font-18-size);
    font-weight: var(--Regular-weight);
    color: var(--grey);
}

.product-card-prices {
    margin-bottom: 14px;
    margin-top: 8px;
}

.old-price {
    text-decoration: line-through;
    margin-right: 8px;
    color: var(--main-dark);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.new-price {
    color: var(--helps-red);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.product-price{
    color: var(--main-dark);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.like-btn {
    background-color: transparent;
    color: #e53935;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
}

.like-btn:focus {
    outline: none;
}

.like-icon {
    pointer-events: all;
    transition: transform 0.3s ease;
}

.like-icon:hover {
    transform: scale(1.1);
}

.buy-btn {
    background-color: var(--light-1);
    color: var(--main-light);
    font-size: var(--Font-14-size);
    font-weight: var(--Semibold-weight);
    border-color: transparent;
    padding: 10px 20px;
    border-radius: var(--br-1);
    transition: background 0.3s ease;
}

.buy-btn-icon{
    margin-left: 8px;
}

.buy-btn:hover{
    background-color: var(--dark-1);
}

.buy-btn:focus{
    outline: none;
}

.products-link {
    padding: 16px 32px;
    border: none;
    border-radius: var(--br-1);
    background-color: var(--light-2);
    color: var(--light-1);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-14-size);
    cursor: pointer;
    transition: background 0.2s ease;
}

.products-link:hover{
    background-color: var(--dark-2);
}

.products-link:focus{
    outline: none;
}

.products-link-icon{
    margin-left: 8px;
}

.faqs-wrapper{
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item {
    border: 1px solid var(--light-2);
    border-radius: var(--br-1);
    background-color: var(--white);
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.2);
}

.faq-number {
    flex-shrink: 0;
    background-color: var(--light-1);
    color: var(--white);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-18-size);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    cursor: pointer;
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-18-size);
    color: var(--light-1);
    background-color: var(--white);
    padding: 16px 24px;
    border-radius: var(--br-1);
    transition: border-radius 0.5s ease;
    gap: 16px;
    line-height: 150%;
}

.faq-question-text {
    flex: 1;
    text-align: left;
    align-self: center;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.2s ease,
        padding-top 0.2s ease,
        border-radius 0.3s ease;
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-16-size);
    color: var(--dark-1);
    background-color: var(--light-2);
    padding: 0 24px;
    border-radius: 0 0 var(--br-1) var(--br-1);
    line-height: 150%;
}

.faq-item.open .faq-answer {
    max-height: 300px;
    padding: 16px 24px;
    border-radius: 0 0 23px 23px;
}

.faq-item.open .faq-question {
    border-radius: var(--br-1) var(--br-1) 0 0;
}

.toggle-answer {
    background-color: transparent;
    border: 1px solid var(--light-2);
    border-radius: 50%;
    padding: 4px;
    transition: all 0.2s ease;
}

.toggle-answer:hover{
    background-color: var(--main-light);
}

.toggle-answer:focus {
    outline: none;
}

.arrow-icon {
    transition: transform 0.4s ease;
}

.faq-item.open .arrow-icon {
    transform: rotate(180deg);
}

.product-card-img:hover{
    cursor: pointer;
}

@media (max-width: 768px) {

    .navigate-category{
        display: none;
    }

    .main-section {
        padding: 20px 0;
        gap: 30px;
    }

    .main-row {
        padding: 20px 30px;
        flex-direction: column;
        gap: 20px;
    }

    .nav-section{
        width: auto;
        height: auto;
    }

    .nav-title{
        font-size: var(--Font-30-size);
    }

    .nav-description{
        font-size: var(--Font-16-size);
    }


    .slider-section {
        width: 370px;
        height: 300px;
    }

    .main-slider-wrapper {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .main-slide {
        min-width: 370px;
        height: 250px;
    }

    .main-slide img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .row-title {
        font-size: var(--Font-26-size);
    }

    .advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
    }

    .advantage {
        width: 170px;
        height: 262px;
        padding: 14px;
    }

    .advantage-title {
        font-size: var(--Font-16-size);
        margin-bottom: 8px;
    }

    .advantage-text {
        font-size: var(--Font-12-size);
        margin: 0;
    }

    .decoration-row {
        margin: 10px 0;
    }

    .categories {
        justify-content: center;
        margin-bottom: 20px;
    }

    .category-card {
        width: 100%;
        max-width: 300px;
        height: 200px;
    }

    .category-img {
        position: relative;
        width: auto;
        max-height: 70%;
        z-index: 2;
        object-fit: contain;
        transition: transform 0.3s ease;
    }

    #category-img-tail-spinner{
        margin-left: 30px;
    }

    .category-card:hover .category-img {
        transform: scale(1.05);
    }

    .category-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .category-name {
        font-size: var(--Font-20-size);
    }

    .category-btn {
        height: 45px;
        width: 55px;
    }

    .category-btn img {
        width: 30px;
        height: 30px;
    }

    .products-scroll-container {
        padding-bottom: 0;
    }

    .faqs-wrapper{
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .faq-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .faq-number {
        font-size: var(--Font-16-size);
    }

    .faq-question {
        font-size: var(--Font-16-size);
    }

    .faq-answer {
        font-size: var(--Font-14-size);
    }

    .faq-item.open .faq-answer {
        max-height: 400px;
        padding: 16px 24px;
        border-radius: 0 0 23px 23px;
    }

    .products-cards {
        gap: 20px;
    }

    .products-wrapper {
        gap: 20px;
    }
}
