.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    box-sizing: border-box;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 30px 120px 0;
    box-sizing: border-box;
}

#main-row-product-details{
    padding-top: 0;
    padding-bottom: 0;
}

.page-navigation {
    background-color: var(--light-2);
    padding: 8px 18px;
    border-radius: var(--br-1);
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    display: inline-block;
    align-self: flex-start;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    gap: 0;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 !important;
}

.breadcrumb-item a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    transition: all 0.3s ease;
}

.breadcrumb-item a:hover{
    text-decoration: none;
    color: var(--main-dark);
    transform: scale(1.05);
    cursor: pointer;
}

.current-product{
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
}

.breadcrumb-separator {
    margin: 0 16px;
}

.breadcrumb-item::before {
    content: none !important;
}

.row-title {
    font-size: var(--Font-32-size);
    font-weight: var(--Semibold-weight);
    text-align: center;
    margin: 0;
    color: var(--dark-1);
}

#main-title{
    margin-left: 350px;
}

.products-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main-row-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.products-main-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

.filters-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    height: min-content;
    background: var(--white);
    border-radius: var(--br-1);
    border: 1px solid var(--light-2);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    padding: 24px;
}

.filters-title{
    width: 100%;
    padding: 12px 20px;
    background-color: var(--light-2);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-18-size);
    color: var(--main-dark);
    border-radius: var(--br-1);
    text-align: center;
}

.filter-sort{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.filter-category{
    display: flex;
    flex-direction: column;
}

.column-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#sort-section-price{
    border-bottom: none;
    padding-bottom: 0;
}

.row-price{
    display: flex;
    flex-direction: column;
    width: min-content;
}

label {
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
    color: var(--dark-1);
    margin-bottom: 0 !important;
}

select{
    padding: 10px 12px;
    color: var(--dark-1);
    border: 1px solid var(--light-2);
    font-size: var(--Font-16-size)!important;
    font-weight: var(--Regular-weight);
    border-radius: var(--br-1);
    width: 100% !important;
    background-color: var(--white);
}

select:hover{
    cursor: pointer;
}

select:focus{
    outline: none;
    border-color: var(--light-1);
}

.fa-sort-amount-up, .fa-filter{
    margin-left: 8px;
}

.sort-section{
    border-bottom: 1px solid var(--light-2);
    padding-bottom: 15px;
}

.row-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
}

.custom-radio {
    opacity: 0;
    cursor: pointer;
}

.row-radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: 2px solid #2A8E9E;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.row-radio:hover::before {
    border-color: var(--dark-1);
}

.row-radio input:checked + span::after {
    content: "";
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--light-1);
    transition: background-color 0.3s;
}

.row-radio input:checked + span::before {
    border-color: var(--dark-1);
}

#sort2-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price-input {
    width: auto;
    margin-right: 10px;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px !important;
    background-color: var(--light-1);
    color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.filter-button:hover {
    background-color: var(--dark-1);
}

.filter-button:focus{
    outline: none;
}

.filter-actions {
    display: flex;
    gap: 10px;
}

#priceRange {
    width: 100%;
    max-width: 260px;
    margin: 30px 0;
    height: 10px;
    border-radius: var(--br-1);
    border: 1px solid var(--light-2);
}

.noUi-connect {
    background: var(--light-1) !important;
}

.noUi-base {
    border-radius: var(--br-1);
    border: 1px solid var(--light-2);
    background: var(--main-light);
    height: 3px;
}

.noUi-handle {
    background-color: var(--main-light) !important;
    border: 2px solid var(--light-1) !important;
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    transition: all 0.3s;
}

.noUi-handle:before, .noUi-handle:after {
    display: none !important;
    border: 2px solid var(--light-1);
    border-radius: var(--br-1);
}

.noUi-handle:hover {
   background-color: var(--light-1) !important;
   cursor: pointer;
}

#minPriceInput, #maxPriceInput{
    padding: 10px 12px;
    color: var(--dark-1);
    border: 1px solid var(--light-2);
    font-size: var(--Font-16-size)!important;
    font-weight: var(--Regular-weight);
    border-radius: var(--br-1);
    background-color: var(--white);
    margin: 0;
    max-width: 110px;
}


#minPriceInput, #maxPriceInput:focus{
    outline: none;
}

#productList{
    width: 75%;
}

.products-section{
    width: 100%;
    /*overflow-y: auto;*/
    /*max-height: 100vh;*/
}

.cart-products-grid {
    width: 100%;
}

.products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0fr));
    gap: 60px 40px;
    justify-content: center;
}

.product-card {
    position: relative;
    width: 280px;
    height: min-content;
    background-color: var(--white);
    border-radius: var(--br-1);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.4);
}

.product-card:hover .product-card-img {
    transform: scale(1.05);
}

.product-card-img:hover{
    cursor: pointer;
}

.product-card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.product-card-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

#notImageProduct {
    text-align: center;
    align-items: center;
    color: var(--dark-1);
    font-size: var(--Font-14-size);
    font-weight: var(--Medium-weight);
}

.product-card-status {
    font-size: var(--Font-14-size);
    margin: 14px 0 8px;
    font-weight: var(--Regular-weight);
    align-items: start;
}

.in-stock {
    color: var(--helps-green);
}

.low-stock {
    color: var(--helps-orange);
}

.out-stock {
    color: var(--helps-red);
}

.status-icon {
    margin-left: 8px;
}

.product-card-name {
    font-size: var(--Font-16-size);
    font-weight: var(--Medium-weight);
    margin-bottom: 8px;
    text-align: start;
    color: var(--main-dark);
}

.product-card-size {
    font-size: var(--Font-18-size);
    font-weight: var(--Regular-weight);
    color: var(--grey);
}

.product-card-prices {
    margin-bottom: 14px;
    margin-top: 8px;
}

.old-price {
    text-decoration: line-through;
    margin-right: 8px;
    color: var(--main-dark);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.new-price {
    color: var(--helps-red);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.product-price {
    color: var(--main-dark);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.like-btn {
    background-color: transparent;
    color: #e53935;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
}

.like-btn:focus {
    outline: none;
}

.like-icon {
    pointer-events: all;
    transition: transform 0.3s ease;
}

.like-icon:hover {
    transform: scale(1.1);
}

.buy-btn {
    background-color: var(--light-1);
    color: var(--main-light);
    font-size: var(--Font-14-size);
    font-weight: var(--Semibold-weight);
    border-color: transparent;
    padding: 10px 20px;
    border-radius: var(--br-1);
    transition: background 0.3s ease;
}

.buy-btn-icon {
    margin-left: 8px;
}

.buy-btn:hover {
    background-color: var(--dark-1);
}

.buy-btn:focus {
    outline: none;
}

.pagination-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.pagination-links{
    padding: 0;
}

.pagination .pagination-links li {
    margin: 0 7px;
}

.pagination .pagination-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  var(--light-1);
    color: var(--light-1);
    background-color: var(--main-light);
    transition: all 0.3s;
    text-align: center;
    padding: 0;
}

.pagination .pagination-links a:hover {
    background-color: var(--white);
}

.pagination .pagination-links .active span {
    display: flex;
    background-color: var(--light-1);
    border: 1px solid var(--light-1);
    color: var(--main-light);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
}

#loadMore{
    background-color: var(--main-light);
    border: 1px solid var(--light-1);
    justify-content: center;
    align-items: center;
    color: var(--light-1);
    border-radius: var(--br-1);
    padding: 12px 20px;
    cursor: pointer;
    font-size: var(--Font-14-size);
    font-weight: var(--Medium-weight);
    margin-top: 25px !important;
    transition: all 0.3s ease;
}

#loadMore:hover{
    background-color: var(--white);
}

#loadMore:focus{
    outline: none;
}

#button-paggination:hover{
    background-color: var(--white);
}

#button-paggination-left:hover{
    background-color: var(--white);
}

.position-info{
    margin-top: 40px;
    text-align: center;
    color: var(--dark-1);
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
}

.no-products-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.empty-cart-text {
    color: var(--main-dark);
    font-size: var(--Font-20-size);
    font-weight: var(--Semibold-weight);
    margin-bottom: 10px;
}

.empty-cart-btn {
    padding: 12px 24px;
    border: none;
    border-radius: var(--br-1);
    background-color: var(--light-1);
    color: var(--white);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-14-size);
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 20px;
}

.empty-cart-btn:hover{
    background-color: var(--dark-1);
}

.empty-cart-btn:focus{
    outline: none;
}

.empty-cart-btn-icon{
    margin-left: 8px;
}

.empty-cart-img{
    width: 450px;
    height: auto;
    margin-top: 50px;
}
