.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    box-sizing: border-box;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 30px 120px 50px;
    box-sizing: border-box;
}

#main-row-product-details{
    padding-top: 0;
    padding-bottom: 0;
}

.main-row-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.page-navigation {
    background-color: var(--light-2);
    padding: 8px 18px;
    border-radius: var(--br-1);
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    display: inline-block;
    align-self: flex-start;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    gap: 0;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 !important;
}

.breadcrumb-item a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    transition: all 0.3s ease;
}

.breadcrumb-item a:hover{
    text-decoration: none;
    color: var(--main-dark);
    transform: scale(1.05);
    cursor: pointer;
}

.current-product{
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
}

.breadcrumb-separator {
    margin: 0 16px;
}

.breadcrumb-item::before {
    content: none !important;
}

.row-title {
    font-size: var(--Font-32-size);
    font-weight: var(--Semibold-weight);
    text-align: center;
    margin: 0;
    color: var(--dark-1);
}

.products-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.cart-table-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: var(--light-1);
    opacity: 0.8;
    font-size: 16px;
    border-bottom: 1px solid var(--light-2);
    padding: 0 0 10px;
}

.cart-table-head .col {
    max-width: 100px;
    text-align: left;
    padding: 0;
}

.product-title {
    text-align: left;
    padding-left: 20px !important;
}

.price-title {
    text-align: left;
    padding-left: 330px !important;
}

.quantity-title {
    text-align: left;
    padding-left: 55px !important;
}

.total-title {
    text-align: left;
    margin-right: 50px !important;
}

.cart-products{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}


.cart-items-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 16px;
    gap: 20px;
    border-radius: var(--br-1);
    border: 1px solid var(--light-2);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.3);
}

.cart-item-link {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

.cart-item-link:hover {
    text-decoration: none;
    color: var(--light-1);
}

.cart-item-link:focus{
    outline: none;
}

.cart-item-link:hover .cart-item-name {
    text-decoration: none;
    color: var(--light-1);
}

.cart-item-image img {
    width: 120px;
    height: 80px;
    object-fit: fill;
}

.cart-item-image img:focus{
    outline: none;
}

.cart-item-details {
    width: 300px;
    align-self: center;
}

.cart-item-name {
    transition: all 0.2s ease;
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
    color: var(--dark-1);
    margin-bottom: 5px;
}

.cart-item-article {
    font-size: var(--Font-14-size);
    font-weight: var(--Regular-weight);
    color: var(--dark-1);
}

.cart-item-price {
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
    color: var(--main-dark);
    width: 130px;
    text-align: center;
}

.cart-item-total {
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
    color: var(--main-dark);
    min-width: 80px;
    text-align: center;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 125px;
    flex-direction: row;
    background-color: var(--white);
    border-radius: var(--br-1);
    padding: 6px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quantity-decrease,
.quantity-increase {
    width: 32px;
    height: 32px;
    border: 1px solid var(--light-1);
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 4px;
}

.quantity-decrease:hover,
.quantity-increase:hover{
    background-color: var(--main-light);
}

.quantity-decrease:focus,
.quantity-increase:focus{
    outline: none;
}

.qty-btn-icon{
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.cart-item-remove {
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-1);
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 4px;
}

.cart-item-remove:hover{
    background-color: var(--main-light);
}

.cart-item-remove:focus{
    outline: none;
}

.remove-item-icon{
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
}

.cart-summary {
    width: 30%;
    background: var(--white);
    border-radius: var(--br-1);
    border: 1px solid var(--light-2);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    padding: 24px;
    align-self: flex-start;
}

.summary-title {
    font-size: var(--Font-20-size);
    font-weight: var(--ExtraBold-weight);
    color: var(--main-dark);
    margin-bottom: 40px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-size: var(--Font-18-size);
    font-weight: var(--Regular-weight);
    color: var(--main-dark);
    border-bottom: 1px solid var(--light-2);
}

#summary-total-price{
    color: var(--main-dark);
}

#summary-discount{
    color: var(--helps-red);
}

.summary-line.total {
    font-size: var(--Font-20-size);
    font-weight: var(--ExtraBold-weight);
    color: var(--main-dark);
    margin-top: 40px;
    border-bottom: none;
}

.checkout-button {
    margin-top: 10px;
    background: var(--light-1);
    color: var(--white);
    border: none;
    padding: 12px 16px;
    border-radius: var(--br-1);
    cursor: pointer;
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
    width: 100%;
    transition: all 0.3s ease;
}

.checkout-button:hover{
    background-color: var(--dark-1);
}

.checkout-button:focus{
    outline: none;
}

.icon-cart{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.cart-item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.old-price-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    color: var(--main-dark);
    font-size: var(--Font-14-size);
    font-weight: var(--Regular-weight);
}

.discount-badge {
    background: var(--helps-red);
    opacity: 1;
    color: var(--white);
    font-size: var(--Font-12-size);
    font-weight: var(--Regular-weight);
    padding: 2px 6px;
    border-radius: var(--br-1);
    margin-left: 8px;
    display: inline-block;
}

.new-price {
    color: var(--helps-red);
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
}

.product-price {
    color: var(--main-dark);
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 200px;
}

.empty-cart-text {
    color: var(--main-dark);
    font-size: var(--Font-22-size);
    font-weight: var(--Semibold-weight);
}

.empty-cart-btn {
    padding: 12px 24px;
    border: none;
    border-radius: var(--br-1);
    background-color: var(--light-1);
    color: var(--white);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-14-size);
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 10px;
}

.empty-cart-btn:hover{
    background-color: var(--dark-1);
}

.empty-cart-btn:focus{
    outline: none;
}

.empty-cart-btn-icon{
    margin-left: 8px;
}

.empty-cart-img{
    width: 500px;
    height: auto;
    margin-top: 40px;
}

.decoration-row {
    width: 100%;
    margin: 50px 0;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
}

.decoration-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}

.recently-products-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.recently-products-scroll-container {
    overflow-x: auto;
    padding-bottom: 20px;
    width: 100%;
}

.recently-products-cards {
    display: flex;
    gap: 40px;
    min-width: max-content;
    padding: 10px;
    padding-top: 15px;
}

.recently-product-card {
    position: relative;
    flex: 0 0 280px;
    width: 290px;
    height: 480px;
    background-color: var(--white);
    border-radius: var(--br-1);
    box-shadow: 0 4px 12px rgba(13, 83, 112, 0.1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recently-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(13, 83, 112, 0.4);
}

.recently-product-card:hover .recently-product-card-img {
    transform: scale(1.05);
}

.recently-product-card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.recently-product-card-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

#notImageProduct{
    text-align: center;
    align-items: center;
    color: var(--dark-1);
    font-size: var(--Font-14-size);
    font-weight: var(--Medium-weight);
}

.recently-product-card-status {
    font-size: var(--Font-16-size);
    margin: 26px 0 8px;
    font-weight: var(--Regular-weight);
    align-items: start;
}

.recently-in-stock {
    color: var(--helps-green);
}

.recently-low-stock{
    color: var(--helps-orange);
}

.recently-out-stock {
    color: var(--helps-red);
}

.recently-status-icon{
    margin-left: 8px;
}

.recently-product-card-name {
    font-size: var(--Font-18-size);
    font-weight: var(--Medium-weight);
    margin-bottom: 8px;
    text-align: start;
    color: var(--main-dark);
}

.recently-product-card-size {
    font-size: var(--Font-18-size);
    font-weight: var(--Regular-weight);
    color: var(--grey);
}

.recently-product-card-prices {
    margin: auto 0 20px;
}

.recently-old-price {
    text-decoration: line-through;
    margin-right: 8px;
    color: var(--main-dark);
    font-size: var(--Font-20-size);
    font-weight: var(--Semibold-weight);
}

.recently-new-price {
    color: var(--helps-red);
    font-size: var(--Font-20-size);
    font-weight: var(--Semibold-weight);
}

.recently-product-price{
    color: var(--main-dark);
    font-size: var(--Font-20-size);
    font-weight: var(--Semibold-weight);
}

.recently-product-card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.recently-like-btn {
    background-color: transparent;
    color: #e53935;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
}

.recently-like-btn:focus {
    outline: none;
}

.recently-like-icon {
    pointer-events: all;
    transition: transform 0.3s ease;
}

.recently-like-icon:hover {
    transform: scale(1.1);
}

.recently-buy-btn {
    background-color: var(--light-1);
    color: var(--main-light);
    font-size: var(--Font-14-size);
    font-weight: var(--Semibold-weight);
    border-color: transparent;
    padding: 12px 28px;
    border-radius: var(--br-1);
    transition: background 0.3s ease;
}

.recently-buy-btn-icon{
    margin-left: 8px;
}

.recently-buy-btn:hover{
    background-color: var(--dark-1);
}

.recently-buy-btn:focus{
    outline: none;
}
