.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    box-sizing: border-box;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 50px 80px;
    box-sizing: border-box;
}

#main-row-product-details{
    padding-top: 0;
    padding-bottom: 0;
}

.main-row-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.page-navigation {
    background-color: var(--light-2);
    padding: 8px 18px;
    border-radius: var(--br-1);
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    display: inline-block;
    align-self: flex-start;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    gap: 0;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 !important;
}

.breadcrumb-item a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
    transition: all 0.3s ease;
}

.breadcrumb-item a:hover{
    text-decoration: none;
    color: var(--main-dark);
    transform: scale(1.05);
    cursor: pointer;
}

.current-product{
    text-decoration: none;
    font-weight: var(--Medium-weight);
    font-size: var(--Font-14-size);
    color: var(--dark-1);
}

.breadcrumb-separator {
    margin: 0 16px;
}

.breadcrumb-item::before {
    content: none !important;
}

.nav-section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-light);
    width: 300px;
    height: 350px;
    gap: 24px;
}

.navigate-category {
    width: 300px;
    height: 475px;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: var(--br-1);
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navigate-link {
    display: block;
    width: 100%;
    height: 80px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--light-1);
}

.navigate-link:hover {
    border-left: 4px solid var(--light-1);
    background-color: rgba(42, 142, 158, 0.2);
    cursor: pointer;
    text-decoration: none;
}

.navigate-link-content {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigate-link.active{
    border-top-left-radius: var(--br-1);
    border-top-right-radius: var(--br-1);
    border-left: 4px solid var(--light-1);
    background-color: rgba(42, 142, 158, 0.2);
    text-decoration: none;
}

.navigate-link.active .navigate-link-content{
    padding-left: 16.5px;
}

.navigate-link-content:hover{
    padding-left: 16.5px;
}

#navigate-link-content-top:hover{
    border-top-left-radius: var(--br-1);
    border-top-right-radius: var(--br-1);
}

#logout-link{
    border-bottom: none;
}

#logout-link:hover{
    border-bottom-left-radius: var(--br-1);
    border-bottom-right-radius: var(--br-1);
}

#logout-icon{
    margin-top: 13px;
}

.navigate-icon {
    width: 26px;
    height: 26px;
}

.navigate-text {
    font-size: var(--Font-18-size);
    font-weight: var(--Medium-weight);
    line-height: 150%;
    color: var(--main-dark);
}

.custom-swal-popup {
    border-radius: var(--br-1) !important;
    padding: 20px !important;
    background-color: var(--white) !important;
    width: 400px !important;
    height: 400px !important;
}

.custom-swal-title {
    color: var(--main-dark) !important;
    font-weight: var(--Semibold-weight);
}

.custom-swal-text {
    color: var(--dark-1) !important;
}

.custom-swal-confirm {
    background-color: var(--light-1) !important;
    color: var(--white) !important;
    border-radius: var(--br-1) !important;
    padding: 12px 40px !important;
    margin-right: 20px !important;
    transition: all 0.3s ease;
}

.custom-swal-confirm:hover {
    background-color: var(--dark-1) !important;
}

.custom-swal-confirm:focus {
    outline: none !important;
}

.custom-swal-cancel {
    background-color: var(--white) !important;
    color: var(--light-1) !important;
    border: 1px solid var(--light-1) !important;
    border-radius: var(--br-1) !important;
    padding: 12px 30px !important;
    transition: all 0.3s ease;
}

.custom-swal-cancel:hover {
    background-color: var(--main-light) !important;
}

.custom-swal-cancel:focus {
    outline: none !important;
}

.swal2-container {
    background-color: rgba(145, 145, 145, 0.4) !important;
    backdrop-filter: blur(5px) !important;
}

.admin-title{
    font-size: var(--Font-36-size);
    font-weight: var(--ExtraBold-weight);
    color: var(--main-dark);
    text-align: left;
    margin: 0;
}

.slider-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 30px;
}

.order-card {
    width: 100%;
    max-width: 100%;
    background-color: var(--white);
    border: 1px solid var(--light-2);
    border-radius: var(--br-1);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 362px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order-card__header {
    padding: 24px;
}

.order-card__title{
    display: flex;
    margin: 0;
    justify-content: space-between;
    color: var(--main-dark);
    font-size: var(--Font-22-size);
    font-weight: var(--Semibold-weight);
}

.order-card__title-now{
    color: var(--grey);
    font-size: var(--Font-18-size);
    font-weight: var(--Semibold-weight);
}

.order-table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 272px;
}

.history-table-head {
    display: flex;
    padding: 12px 16px;
    font-weight: bold;
    font-size: var(--Font-16-size);
    color: var(--light-1);
    border-bottom: 1px solid var(--light-2);
}

.history-table-head .col {
    flex: 0 0 180px;
    padding: 0 10px;
    box-sizing: border-box;
}

.order-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.order-list__item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.2s ease;
}

.order-list__item:hover {
    background-color: var(--main-light);
}

.order-list__item .col {
    flex: 0 0 180px;
    padding: 4px 10px;
    box-sizing: border-box;
    font-size: var(--Font-14-size);
    color: var(--main-dark);
}

.col-empty{
    width: 500px !important;
    color: var(--main-dark);
}

.faq-status {
    padding: 4px 8px;
    border-radius: var(--br-1);
    font-weight: var(--Semibold-weight);
    font-size: var(--Font-14-size);
    display: inline-block;
    text-align: center;
    min-width: 150px;
}

.view-btn {
    background-color: var(--main-light);
    color: var(--light-1);
    border: 1px solid var(--light-2);
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease;
}

.view-btn:hover {
    background-color: var(--light-2);
    color: var(--light-1);
    text-decoration: none;
}

.order-list__item.empty {
    justify-content: start;
    color: var(--grey);
    font-style: italic;
    font-size: var(--Font-16-size);
    font-weight: var(--Semibold-weight);
}

.status-in-process {
    background-color: var(--helps-bluelight);
    color: var(--helps-blue);
}

.status-awaiting-payment {
    background-color: var(--helps-orangelight);
    color: var(--helps-orange);
}

.status-delivered {
    background-color: var(--helps-yellowlight);
    color: var(--helps-yellow);
}

.status-completed {
    background-color: var(--helps-greenlight);
    color: var(--helps-green);
}

.status-cancelled {
    background-color: var(--helps-redlight);
    color: var(--helps-red);
}

.btn-login{
    position: relative;
    line-height: 150%;
    align-self: stretch;
    border-radius: 24px;
    background-color: var(--light-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    font-size: var(--Font-16-size);
    font-weight: var(--Medium-weight);
    color: var(--main-light);
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.btn-login:hover{
    background-color: var(--dark-1);
}

.btn-login:focus {
    outline: none;
}

.graphic-wrapper {
    padding: 10px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

canvas#graphic {
    width: 100% !important;
    height: 380px !important;
}


.dashboard-widgets {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.widget {
    background: var(--white);
    border-radius: var(--br-1);
    padding: 20px;
    flex: 1 1 300px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-2);
    max-height: min-content;
}

.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.widget-title {
    font-size: var(--Font-20-size);
    color: var(--dark-1);
    font-weight: var(--Semibold-weight);
}

.widget-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.widget-icon-icon{
    width: 40px;
    height: 40px;
}

.widget-icon.blue {
    background-color: var(--helps-bluelight);
}

.widget-icon.green {
    background-color: var(--helps-greenlight);
}

.widget-icon.red {
    background-color: var(--helps-redlight);
}

.widget-value {
    font-size: var(--Font-30-size);
    font-weight: 700;
}

.widget-subtext {
    text-align: right;
    color: var(--grey);
    font-size: var(--Font-14-size);
    margin-top: 20px;
}
